# ===============================
# Logs
# ===============================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ===============================
# Node / Frontend
# ===============================
node_modules/
dist/
dist-ssr/
*.local

# ===============================
# Python / Django
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env
.env.*

# Database
db.sqlite3
*.sqlite3

# Media / Uploads
media/

# ===============================
# IDE / OS
# ===============================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
