# ==========================
# Django
# ==========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/
.env

# migration files unnecessary
*/migrations/__pycache__/
*/migrations/*.pyc

# ==========================
# Vue / Node
# ==========================
node_modules/
dist/
*.log
*.DS_Store

# Environment Variables
frontend/.env
backend/.env

# ==========================
# OS / Editor
# ==========================
.vscode/
.idea/
